<div *ngIf="jobs.length < 2">
  <h4>Add a Part with an associated Job to Set a Current Job on this Machine</h4>
  <button class="btn btn-success" routerLink="/parts/new">Add Part</button>
</div>
<form *ngIf="setJobForm && jobs.length > 1" [formGroup]="setJobForm" (ngSubmit)="onSetJob()">
<div class="form-group">
      <label for="jobNumber">Job</label>
      <select
        formControlName='jobNumber'
        type="text" 
        id="jobNumber" 
        class="form-control"
        (change)="changeOps($event.target.value)">
        <option *ngFor = "let job of jobs" >{{job}}</option>
      </select>     
      <label for="opNumber">Op</label>
      <select
        formControlName='opNumber'
        type="text" 
        id="opNumber" 
        class="form-control">
        <option *ngFor = "let op of setOps">{{op}}</option>
      </select>      
</div>
<button 
  class="btn btn-success" 
  type="submit"
  [disabled]="!setJobForm.valid"
>
Set Op</button>
<button 
  type='button' 
  class='btn btn-danger pull-right' 
  (click)='onCancel()'
>
Cancel</button>
<br>