<div class="border">
  <h3 class="bold float-mid">Toggle Tutorials</h3>
  <br>
  <h4 class="grid">
    <div class="float-mid">
      All Tutorials:
    </div>
    <div class="float-mid">
      <strong>{{tutorialStatus}}</strong>
    </div>
    <div></div>
    <button
      *ngIf="auth.isNew" 
      (click)="changeTutorial()"
      class="btn btn-primary">
      <strong>Hide Tutorials</strong>
    </button>
    <button
      *ngIf="!auth.isNew" 
      (click)="changeTutorial()"
      class="btn btn-primary">
      <strong>Show Tutorials</strong>
    </button>
  </h4>
  <div *ngIf="auth.isNew">
    <h6><br></h6>
    <h4 class="grid">
      <div class="float-mid">
        Lathe Tutorials:
      </div>
      <div class="float-mid">
        <strong>{{latheStatus}}</strong>
      </div>
      <div></div>
      <button
        *ngIf="auth.skipLathe" 
        (click)="changeLathe()"
        class="btn btn-primary">
        <strong>Hide Tutorial</strong>
      </button>
      <button
        *ngIf="!auth.skipLathe" 
        (click)="changeLathe()"
        class="btn btn-primary">
        <strong>Show Tutorial</strong>
      </button>
    </h4>
    <h6><br></h6>
    <h4 class="grid">
      <div class="float-mid">
        Mill Tutorials:
      </div>
      <div class="float-mid">
        <strong>{{millStatus}}</strong>
      </div>
      <div></div>
      <button
        *ngIf="auth.skipMill" 
        (click)="changeMill()"
        class="btn btn-primary">
        <strong>Hide Tutorial</strong>
      </button>
      <button
        *ngIf="!auth.skipMill" 
        (click)="changeMill()"
        class="btn btn-primary">
        <strong>Show Tutorial</strong>
      </button>
    </h4>
  </div>
  <br>
</div>
<br>
<div class="border">
  <h3 class="bold float-mid">Defaults</h3>
  <br>
  <h4 *ngIf="!auth.setStartTime" class="grid">
    <div class="float-mid">
      Start Time: 
    </div>
    <div class="float-mid">
      <strong>{{auth.defaultStartTimeString}}</strong> 
    </div>
    <div></div>
    <button class="btn btn-primary" (click)="onChangeStartTime()">
      <strong>Change</strong>
    </button> 
  </h4>
  <div *ngIf="auth.setStartTime">
    <app-change-value [time]="auth.defaultStartTime" [type]="'time'"></app-change-value>
  </div>
  <br>
  <br>
  <h4 *ngIf="!auth.setBarEnd" class="grid">
    <div class="float-mid">
      Bar End: 
    </div>
    <div class="float-mid">
      <strong>{{auth.defaultBarEnd}}</strong> 
    </div>
    <div></div>
    <button class="btn btn-primary" (click)="onChangeBarEnd()">
      <strong>Change</strong>
    </button> 
  </h4>
  <div *ngIf="auth.setBarEnd">
    <app-change-value [size]="auth.defaultBarEnd" [type]="'end'"></app-change-value>
  </div>
  <br>
  <br>
  <h4 *ngIf="!auth.setBarCut" class="grid">
    <div class="float-mid">
      Bar Cut: 
    </div>
    <div class="float-mid">
      <strong>{{auth.defaultBarCut}}</strong>
    </div>
    <div></div>
    <button class="btn btn-primary" (click)="onChangeBarCut()">
      <strong>Change</strong>
    </button> 
  </h4>
  <div *ngIf="auth.setBarCut">
    <app-change-value [size]="auth.defaultBarCut" [type]="'cut'"></app-change-value>
  </div>
  <br>
</div>