.bg{
    background-color: rgb(250, 248, 255);
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#page{
    position: relative;
    min-height: 100vh;
}

#main{
    padding-bottom: 2.5rem;
}

#footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
}