<div *ngIf="!canInput">
  <h1>You must be logged in to add a machine lot!</h1>
  </div>
    <form *ngIf="canInput && editMachineForm" [formGroup]="editMachineForm" (ngSubmit)='onSubmit()' >
    <div class="form-group">
      <h3> Machine: {{machName}}</h3>
      <label for="currentJob">Job</label>
      <select
        formControlName='currentJob'
        type="text" 
        id="currentJob" 
        class="form-control"
        (change)="changeOps($event.target.value)">
        <option 
          *ngFor = "let job of jobs; let i = index" 
          [selected]="job === thisJob"
          [ngValue]="job">
            {{job.jobNumber}}
          </option>
      </select>     
      <label for="currentOp">Op</label>
      <select
        formControlName='currentOp'
        type="text" 
        id="currentOp" 
        class="form-control">
        <option 
          *ngFor = "let op of ops; trackBy: changeOps"
          [selected]="op === machine.currentOp"
          >
            {{op}}
          </option>
      </select>        
    </div>
      <br><br>
      <div class="grid">
        <button 
          class="btn btn-success" 
          type="submit"
          [disabled]="!editMachineForm.valid"
        >
          Update Machine
        </button>
        <div></div>
        <button 
          type='button' 
          class="btn btn-danger" 
          (click)='onDelete()'
        >
          Delete
        </button>
        <div></div>
        <button 
          type='button' 
          class='btn btn-danger pull-right' 
          (click)='onCancel()'
        >
          Cancel
        </button>
      </div>