<div *ngIf='operations.length > 0'>
  <div class="grid2">
    <button 
        *ngIf="!auth.buttonHidden[2]"
        class='btn btn-primary'
        (click)="newOp()"
    >
        Add New Operation   &#9776;
    </button>
    <div
        *ngIf="auth.buttonHidden[2]"
        class='btn btn-primary'
    >
        <app-op-new></app-op-new>
    </div>
  </div>
  <div class="grid">
    <div *ngFor="let operation of operations; let i=index"> 
      <div routerLink="../{{operation.id}}" class="border">
        <h3>Op #: {{operation.opNumber}}</h3>
        <h4 *ngIf="operation.machine">Machine: {{operation.machine}}</h4>
        <h4 *ngIf="operation.cycleTime">Cycle Time: {{operation.cycleTime}}</h4>
        <h4 *ngIf="operation.remainingQuantity">Remaining Quantity: {{operation.remainingQuantity}}</h4>
        <h4 *ngIf="operation.cycleTime"> Remaining Machine Hours: {{((operation.remainingQuantity*operation.cycleTime)/3600).toFixed(2)}}</h4>
        <div class="grid">
          <button class='btn btn-primary' routerLink="/ops/edit/{{operation.opNumber}}&job={{operation.jobNumber}}">Edit Op</button>
          <button class='btn btn-danger' (click)="onDelete(operation)">Delete Op</button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>


<div *ngIf='operations.length == 0 && !oneOperation'>
    <h2> 
      No operations for this Job 
    </h2>
</div>
