<h2>{{model}}</h2>
  <ul class='list-group'>
    <li class=list-group-item *ngFor="let log of set">
      <h5>Changed ID: <strong>{{log.id}}</strong></h5>
      <h5>Type of Change: <br><strong>{{log.type}}</strong></h5>
      <h5>Time of Change: <br><strong>{{log.timeStamp[1]}} on {{log.timeStamp[0]}}</strong></h5>
      <div *ngIf="model == 'Machine'">
        <h5>Machine: <br><strong>{{log.old.machine}}</strong></h5>
        <h5>Job: <br>
          <strong *ngIf="log.old.currentJob">{{log.old.currentJob}}</strong>
          <strong *ngIf="!log.old.currentJob">None</strong>
        </h5>
      </div>
      <div *ngIf="model == 'Part'">
        <h5>Part: <br><strong>{{log.old.part}}</strong></h5>
        <h5 *ngIf="log.old.job">Current Job: <br><strong>{{log.old.job}}</strong></h5>
        <h5 *ngIf="log.old.machine">Current Machine: <br><strong>{{log.old.machine}}</strong></h5>
        <h5 *ngIf="log.old.cycleTime">Cycle Time: <br><strong>{{log.old.cycleTime}}</strong></h5>
        <h5 *ngIf="log.old.orderQuantity">Order Quantity: <br><strong>{{log.old.orderQuantity}}</strong></h5>
        <h5 *ngIf="log.old.weightRecieved">Weight Recieved: <br><strong>{{log.old.weightRecieved}}</strong></h5>
        <h5 *ngIf="log.old.weightQuantity">Potential Quantity by Weight: <br><strong>{{log.old.weightQuantity}}</strong></h5>
        <h5 *ngIf="log.old.weightLength">Total Length of Bars by Weight: <br><strong>{{log.old.weightLength}}</strong></h5>
        <h5 *ngIf="log.old.possibleQuantity">Possible Quantity by Bars: <br><strong>{{log.old.possibleQuantity}}</strong></h5>
        <h5 *ngIf="log.old.remainingQuantity">Remaining Quantity: <br><strong>{{log.old.remainingQuantity}}</strong></h5>
        <h5 *ngIf="log.old.heatLot">Heat Lot#: <br><strong>{{log.old.heatLot}}</strong></h5>
      </div>
      <div *ngIf="model == 'Hourly'">
        <h5>Time: <br><strong>{{log.old.time}}</strong></h5>
        <h5>Job #: <br><strong>{{log.old.job}}</strong></h5>
        <h5>Quantity: <br><strong>{{log.old.quantity}}</strong></h5>
        <h5>Counter: <br>
          <strong *ngIf="log.old.counterQuantity">{{log.old.counterQuantity}}</strong>
          <strong *ngIf="!log.old.counterQuantity">None</strong>
        </h5>
      </div>
      <div *ngIf="model == 'Production'">
        <h5>Job #: <br><strong>{{log.old.job}}</strong></h5>
        <h5>Shift: <br><strong>{{log.old.shift}}</strong></h5>
        <h5>Quantity: <br><strong>{{log.old.quantity}}</strong></h5>
        <h5>Machine: <br><strong>{{log.old.machine}}</strong></h5>
      </div>
    </li>
  </ul>
  <div *ngIf="pagination && pagination.totalPages !> pagination.currentPage && pagination.totalPages != pagination.currentPage" class="grid">
    <button class="btn btn-primary" (click)="showMore()">
      Show More
    </button>
  </div>