
<div class="grid2">
  <button 
      *ngIf="!showForm"
      class='btn btn-primary'
      (click)="newOp()"
  >
      Add New Operation   &#9776;
  </button>
  <div
      *ngIf="showForm"
  >
      <app-job-ops-new [jobNumber]="operation"></app-job-ops-new>
  </div>
</div>
<div *ngIf='operations.length > 0'>
  <div class="grid">
    <div *ngFor="let operation of operations; let i=index"> 
      <div *ngIf="!editOp[i]" class="border">
        <h3>Op #: {{operation.opNumber}}</h3>
        <h4 *ngIf="operation.machine">Machine: {{operation.machine}}</h4>
        <h4 *ngIf="operation.cycleTime">Cycle Time: {{operation.cycleTime}}</h4>
        <h4 *ngIf="operation.remainingQuantity">Remaining Quantity: {{operation.remainingQuantity}}</h4>
        <h4 *ngIf="operation.cycleTime"> Remaining Machine Hours: {{((operation.remainingQuantity*operation.cycleTime)/3600).toFixed(2)}}</h4>
        <div class="grid">
          <button class='btn btn-primary' (click)="opEdit(i)">Edit</button>
          <button class='btn btn-danger' (click)="onDelete(operation)">Delete</button>
        </div>
      </div>
      <div *ngIf="editOp[i]">
        <app-job-ops-edit [search]="operation.opNumber + '&job=' + operation.jobNumber"> </app-job-ops-edit>
      </div>
    </div>
  </div>
</div>


<div *ngIf='operations.length == 0'>
  <h4> 
    No operations for this Job 
  </h4>
</div>
