<h4>Op Number</h4>
<h4 class="bold">{{op.opNumber}}</h4>
<h4>Parts To Date:</h4>
<div *ngIf="!editMode">
  <div *ngIf="op.partsToDate">
      <h4 class="bold">{{op.partsToDate}}</h4>
  </div>
  <div *ngIf="!op.partsToDate">
      <h4 class="bold">0</h4>
  </div>
</div>
<div *ngIf="editMode">
  <app-production-total (remainingQ)="emitRemains($event)" partsToDate="{{op.partsToDate}}" opNumber="{{op.opNumber}}" jobNumber="{{jobNumber}}"></app-production-total>
</div>
<div *ngIf="op.remainingQuantity && op.cycleTime">
  <h5 class="bold">{{hours}} {{hourFormat}}<br>{{minutes}} {{minFormat}}<br>Remaining</h5>
</div>
<div class="grid">
  <button *ngIf="!editMode" class="btn btn-primary" (click)="changeEdit()">
    <h6>Update</h6>
  </button>
</div>