<div *ngIf="!canInput">
  <h1>You must be logged in to add a job lot!</h1>
</div>

<form *ngIf="canInput && editJobForm" [formGroup]="editJobForm" (ngSubmit)='onSubmit()' >
  <h4><strong>Job# {{jobNum}}, Part# {{job.partNumber}}</strong></h4>
  <div class="form-group">
    <h6 for="orderQuantity">Order Quantity (Optional)</h6>
    <input 
      formControlName='orderQuantity'
      type="number" 
      id="orderQuantity" 
      class="form-control">
  </div>
  <div class="form-group">
    <h6 for="weightRecieved">Weight Recieved (Optional)</h6>
    <input 
      formControlName='weightRecieved'
      type="number" 
      id="weightRecieved" 
      class="form-control">
  </div>
  <div class="form-group">
    <h6 for="oal">Overall Length of Job (Optional)</h6>
    <input 
      formControlName='oal'
      type="number" 
      id="oal" 
      class="form-control">
  </div>
  <div class="form-group">
    <h6 for="cutOff">Cut Off Size (Optional)</h6>
    <input 
      formControlName='cutOff'
      type="number" 
      id="cutOff" 
      class="form-control">
  </div>
  <div class="form-group">
    <h6 for="mainFacing">Amount Faced on Main Spindle (Optional)</h6>
    <input 
      formControlName='mainFacing'
      type="number" 
      id="mainFacing" 
      class="form-control">
  </div>
  <div class="form-group">
    <h6 for="subFacing">Amount Faced on Sub Spindle (Optional)</h6>
    <input 
      formControlName='subFacing'
      type="number" 
      id="subFacing" 
      class="form-control">
  </div>
  <br><br>
  <div class="grid">
    <button 
      class="btn btn-success" 
      type="submit"
      [disabled]="!editJobForm.valid"
    >
      Update Job
    </button>
    <button 
      type='button' 
      class='btn btn-danger pull-right' 
      (click)='onCancel()'
    >
      Cancel
    </button>
  </div>