<div *ngIf="part">
  <div>
    <ul class='border list-group'>
      <li class="list-group-item" >
        <div class="grid">
          <button *ngIf="part.active == 'Active'" class='btn btn-danger' (click)="changeActive()">Set Part Inactive</button>
          <button *ngIf="part.active != 'Active'" class='btn btn-success' (click)="changeActive()">Set Part Active</button>
        </div>
        <h6></h6>
        <h5>Part #:</h5>
        <h5 class="bold">{{part.partNumber}}</h5>
        <h6></h6>
        <h5>Rev:</h5>
        <h5 class="bold">{{part.rev}}</h5>
      </li>
      <div *ngIf="!editMode" class="grid">
        <div>
          <button class='btn btn-danger' (click)="onDelete(part.partNumber)">Delete Part</button>
        </div>
        <div>
          <button class='btn btn-info' (click)="onEdit()">Edit Part</button>
        </div>
      </div>
      <div *ngIf="editMode">
        <app-part-edit></app-part-edit>
      </div>
    </ul>
  </div>
</div>
<div *ngIf='!part'>
    <h2> No parts with this Part or Job Number </h2>
</div>
