.grid { 
    display: grid;
    grid-template-columns: 50% 50%;
}

.border{
    border: solid;
}

.white-text{
    color: white;
}

h5, h4, h2{
    text-align: center;
    margin: auto;
}

li{
    height: 160px;
}
