.grid { 
    display: grid;
    grid-template-columns: 100%;
}

.border{
    border: solid;
}
.white-text{
    color: white;
}

h3{
    text-align: center;
    margin: auto;
}

h2{
    text-align: center;
    margin: auto;
}

li{
    height: 160px;
}
