.grid { 
    display: grid;
    grid-template-columns: 100%;
}

.border{
    height: 177px;
}

.spaced{
    margin: 15px 10px 10px 10px;
}

.white-text{
    color: white;
}


h5, h4, h2{
    text-align: center;
    margin: auto;
}

li{
    height: 160px;
}
