.grid { 
    display: grid;
    grid-template-columns: 50% 50%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

h5{
    text-align: center;
    font-weight: 600;
}

input{
    height: 22px
}


@media only screen and (max-width: 768px) {
    button{
        font-size: 9px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 320px) {
    button{
        font-size: 7px;
        font-weight: 600;
    }
}