<div class="container">
    <div class="row">
        <div class="row">
            <form (ngSubmit)='showLog()' #logSelect="ngForm">
                <div class="grid2 col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">    
                    <select 
                        id="model" 
                        class="form-control input-center"
                        [(ngModel)]="defaultModel"
                        name="model">
                        <option *ngFor="let model of models" class="input-center centered">
                            {{model}}
                        </option>
                    </select>
                    <div class="grid">
                        <button class="btn btn-primary"><strong>Select Change Set</strong></button>
                    </div>
                </div>
            </form>      
        </div>
        <div *ngIf="isShown">
            <app-change-log-set [model]="currentModel"></app-change-log-set>
        </div>
    </div>
</div>