<div *ngIf="!canInput">
  <h1>You must be logged in to add a operation lot!</h1>
  </div>
    <form *ngIf="canInput && editOpForm" [formGroup]="editOpForm" (ngSubmit)='onSubmit()' >
      <h3>
        <label for="jobNumber">Job# {{operation.jobNumber}}, Operation# {{operation.opNumber}}</label>
      </h3>
      <div *ngIf="machines" class="form-group">
        <label for="machine">Machine</label>
        <select 
          formControlName='machine'
          id="machine" 
          class="form-control"
          >
          <option *ngFor = "let machine of machines"
          [selected]="machine === operation.machine" 
          [value]="machine.machine">
            {{machine.machine}}
          </option>
        </select>
      </div>
      <div *ngIf="!machines" class="form-group">
        <label for="machine">Machine</label>
        <input 
          formControlName='machine'
          id="machine" 
          class="form-control">      
      </div>
      <div class="form-group">
        <label for="cycleTime">Cycle Time (Seconds - Optional)</label>
        <input 
          formControlName='cycleTime'
          id="cycleTime" 
          class="form-control"
          type="number" 
        >
      </div>
      <div class="grid">
        <button 
          class="btn btn-success" 
          type="submit"
          [disabled]="!editOpForm.valid"
        >
          Update Operation
        </button>
        <div></div>
        <button 
          type='button' 
          class="btn btn-danger" 
          (click)='onDelete()'
        >
          Delete
        </button>
        <div></div>
        <button 
          type='button' 
          class='btn btn-danger pull-right' 
          (click)='onCancel()'
        >
          Cancel
        </button>
      </div>