<div *ngIf='!singleProd && production.length > 0'>
    <ul class='list-group'>
        <li *ngIf="!singleProd" class="list-group-item">
            <h4>Job Total: {{total}}</h4>
        </li>
        <div class="grid">
        <div *ngFor="let lot of production; let i = index">
            <div *ngIf="lot.inQuestion && !editMulti[i]" class="inQuestion border">   
                <div class='grid'>
                    <button class="btn btn-success" (click)="lotIsGood(lot.id)">Set <br> Good</button>
                    <button class='btn btn-primary' (click)="onEditMulti(i)">Edit <br>This Lot</button>
                </div>
                <br>
                <div routerLink="/production/single/{{lot.id}}">
                    <h4>Date: <strong>{{lot.date}}</strong></h4>
                    <h4>Job #: <strong>{{lot.jobNumber}}</strong></h4>
                    <h4 *ngIf="lot.partNumber">Part #: <strong>{{lot.partNumber}}</strong></h4>
                    <h4>Operation #: <strong>{{lot.opNumber}}</strong></h4>
                    <h4>Shift: <strong>{{lot.shift}}</strong></h4>
                    <h4>Quantity: <strong>{{lot.quantity}}</strong></h4>
                    <h4>Machine: <strong>{{lot.machine}}</strong></h4>
                </div>
                <div class='grid'>
                    <button class='btn btn-info pull-right' routerLink="/{{auth.machType}}/production/op={{lot.opNumber}}&job={{lot.jobNumber}}">Job/Op <br> Production</button>
                    <button class='btn btn-primary pull-right' routerLink="/day/{{dayServ.dates[i]}}">Day <br> Production</button>
                </div>
                <br>
            </div>
            <div *ngIf="!lot.inQuestion && !editMulti[i]" class="border">   
                <div class='grid'>
                    <button class="btn btn-danger" (click)="lotInQuestion(lot.id)">Set <br> In Question</button>
                    <button class='btn btn-primary' (click)="onEditMulti(i)">Edit <br> This Lot</button>
                </div>
                <br>
                <div routerLink="/production/single/{{lot.id}}">
                    <h4>Date: <strong>{{lot.date}}</strong></h4>
                    <h4>Job #: <strong>{{lot.jobNumber}}</strong></h4>
                    <h4 *ngIf="lot.partNumber">Part #: <strong>{{lot.partNumber}}</strong></h4>
                    <h4>Operation #: <strong>{{lot.opNumber}}</strong></h4>
                    <h4>Shift: <strong>{{lot.shift}}</strong></h4>
                    <h4>Quantity: <strong>{{lot.quantity}}</strong></h4>
                    <h4>Machine: <strong>{{lot.machine}}</strong></h4>
                </div>
                <div class='grid'>
                    <button class='btn btn-info pull-right' routerLink="/production/op={{lot.opNumber}}&job={{lot.jobNumber}}">Job/Op <br> Production</button>
                    <button class='btn btn-primary pull-right' routerLink="/day/{{dayServ.dates[i]}}">Day <br> Production</button>
                </div>
                <br>
            </div>
            <div *ngIf="editMulti[i]">
                <app-production-edit [id]="lot.id"></app-production-edit>
            </div>
        </div>
        </div>
    </ul>
</div>
<div *ngIf="singleProd">
    <div *ngIf="singleProd.inQuestion && !editMode" class="inQuestion border">   
        <div class='grid'>
            <button class="btn btn-success" (click)="lotIsGood(singleProd.id)">Set <br> Good</button>
            <button class='btn btn-primary' (click)="onEdit()">Edit <br> This Lot</button>
        </div>
        <br>
        <div routerLink="/production/single/{{singleProd.id}}">
            <h4>Date: <strong>{{singleProd.date}}</strong></h4>
            <h4>Job #: <strong>{{singleProd.jobNumber}}</strong></h4>
            <h4 *ngIf="singleProd.partNumber">Part #: <strong>{{singleProd.partNumber}}</strong></h4>
            <h4>Operation #: <strong>{{singleProd.opNumber}}</strong></h4>
            <h4>Shift: <strong>{{singleProd.shift}}</strong></h4>
            <h4>Quantity: <strong>{{singleProd.quantity}}</strong></h4>
            <h4>Machine: <strong>{{singleProd.machine}}</strong></h4>
        </div>
        <div class='grid'>
            <button class='btn btn-info pull-right' routerLink="/production/op={{singleProd.opNumber}}&job={{singleProd.jobNumber}}">Job/Op <br> Production</button>
            <button class='btn btn-primary pull-right' routerLink="/day/{{date}}">Day <br> Production</button>
        </div>
        <br>
    </div>
    <div *ngIf="!singleProd.inQuestion && !editMode" class="border">   
        <div class='grid'>
            <button class="btn btn-danger" (click)="lotInQuestion(singleProd.id)">Set <br> In Question</button>
            <button class='btn btn-primary' (click)="onEdit()">Edit <br> This Lot </button>
        </div>
        <br>
        <div routerLink="/production/single/{{singleProd.id}}">
            <h4>Date: <strong>{{singleProd.date}}</strong></h4>
            <h4>Job #: <strong>{{singleProd.jobNumber}}</strong></h4>
            <h4 *ngIf="singleProd.partNumber">Part #: <strong>{{singleProd.partNumber}}</strong></h4>
            <h4>Operation #: <strong>{{singleProd.opNumber}}</strong></h4>
            <h4>Shift: <strong>{{singleProd.shift}}</strong></h4>
            <h4>Quantity: <strong>{{singleProd.quantity}}</strong></h4>
            <h4>Machine: <strong>{{singleProd.machine}}</strong></h4>
        </div>
        <div class='grid'>
            <button class='btn btn-info pull-right' routerLink="/production/op={{singleProd.opNumber}}&job={{singleProd.jobNumber}}">Job/Op <br> Production</button>
            <button class='btn btn-primary pull-right' routerLink="/day/{{date}}">Day <br> Production</button>
        </div>
        <br>
    </div>
    <div *ngIf="editMode">
        <app-production-edit [id]="singleProd.id"></app-production-edit>
    </div>
</div>
<div *ngIf='production.length == 0 && !singleProd && !isFetching'>
    <h2> No production for this Job # </h2>
</div>
