.grid { 
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid2 { 
    display: grid;
    grid-template-columns: 100%;
}

.border{
    border: solid;
}

.white-text{
    color: white;
}

h3{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
}

h4{
    text-align: center;
}

.mobile {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 900px) {
    .mobile { 
        visibility: visible;
        display: initial;
    }
}