<div *ngIf='jobs.length > 0 && jobs.length < 2'>
    <ul class='list-group'>
        <li class=list-group-item *ngFor="let job of jobs; let i = index" >
      <h3>Job #: {{job.job}}</h3>
      <h4 *ngIf="job.job">Current Job: {{job.job}}</h4>
      <h4 *ngIf="job.machine">Current Machine: {{job.machine}}</h4>
      <h4 *ngIf="job.cycleTime">Cycle Time: {{job.cycleTime}}</h4>
      <h4 *ngIf="job.orderQuantity">Order Quantity: {{job.orderQuantity}}</h4>
      <h4 *ngIf="job.weightRecieved">Weight Recieved: {{job.weightRecieved}}</h4>
      <h4 *ngIf="job.weightQuantity">Potential Quantity by Weight: {{job.weightQuantity}}</h4>
      <h4 *ngIf="job.weightLength">Total Length of Bars by Weight: {{job.weightLength}}</h4>
      <h4 *ngIf="job.possibleQuantity">Possible Quantity by Bars: {{job.possibleQuantity}}</h4>
      <h4 *ngIf="job.remainingQuantity">Remaining Quantity: {{job.remainingQuantity}}</h4>
      <h4 *ngIf="job.heatLot">Heat Lot#: {{job.heatLot}}</h4>        
      <h4 *ngIf="!job.possibleQuantity && !job.weightQuantity && job.orderQuantity">Most Reliable Possible Quantity: {{job.weightQuantity}}
        <h4 *ngIf="job.cycleTime"> Total Machine Hours: {{((job.orderQuantity*job.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="!job.possibleQuantity && job.weightQuantity">Most Reliable Possible Quantity: {{job.weightQuantity}}
        <h4 *ngIf="job.cycleTime"> Total Machine Hours: {{((job.weightQuantity*job.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="job.possibleQuantity">Most Reliable Possible Quantity: {{job.possibleQuantity}}
        <h4 *ngIf="job.cycleTime"> Total Machine Hours: {{((job.possibleQuantity*job.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="job.remainingQuantity">Remaining Quantity: {{job.remainingQuantity}}</h4>
        <h4 *ngIf="job.cycleTime"> Remaining Machine Hours: {{((job.remainingQuantity*job.cycleTime)/3600).toFixed(2)}}</h4> <br><br>
          <br><br>
          <div class="grid">
            <button class='btn btn-primary' routerLink="../edit/{{job.id}}">Edit Job</button>
            <button class='btn btn-danger' (click)="onDelete(job.job, job.id)">Delete Job</button>
          </div>
        </li>
    </ul>
</div>
<div *ngIf='jobs.length > 1'>
  <div *ngFor="let job of jobs; let i=index"> 
    <div routerLink="../job={{job.job}}" class="border">
      <h3>Job #: {{job.job}}</h3>
      <h4 *ngIf="job.job">Current Job: {{job.job}}</h4>
      <h4 *ngIf="job.machine">Current Machine: {{job.machine}}</h4>
      <h4 *ngIf="job.cycleTime">Cycle Time: {{job.cycleTime}}</h4>
      <h4 *ngIf="job.orderQuantity">Order Quantity: {{job.orderQuantity}}</h4>
      <h4 *ngIf="job.weightRecieved">Weight Recieved: {{job.weightRecieved}}</h4>
      <h4 *ngIf="job.weightQuantity">Potential Quantity by Weight: {{job.weightQuantity}}</h4>
      <h4 *ngIf="job.weightLength">Total Length of Bars by Weight: {{job.weightLength}}</h4>
      <h4 *ngIf="job.possibleQuantity">Possible Quantity by Bars: {{job.possibleQuantity}}</h4>
      <h4 *ngIf="job.remainingQuantity">Remaining Quantity: {{job.remainingQuantity}}</h4>
      <h4 *ngIf="job.heatLot">Heat Lot#: {{job.heatLot}}</h4>
              <h4 *ngIf="!job.possibleQuantity && !job.weightQuantity && job.orderQuantity">Most Reliable Possible Quantity: {{job.weightQuantity}}
        <h4 *ngIf="job.cycleTime"> Total Machine Hours: {{((job.orderQuantity*job.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="!job.possibleQuantity && job.weightQuantity">Most Reliable Possible Quantity: {{job.weightQuantity}}
        <h4 *ngIf="job.cycleTime"> Total Machine Hours: {{((job.weightQuantity*job.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="job.possibleQuantity">Most Reliable Possible Quantity: {{job.possibleQuantity}}
        <h4 *ngIf="job.cycleTime"> Total Machine Hours: {{((job.possibleQuantity*job.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="job.remainingQuantity">Remaining Quantity: {{job.remainingQuantity}}</h4>
        <h4 *ngIf="job.cycleTime"> Remaining Machine Hours: {{((job.remainingQuantity*job.cycleTime)/3600).toFixed(2)}}</h4> <br><br>
      <div class="grid">
        <button class='btn btn-primary' routerLink="../edit/{{job.id}}">Edit Job</button>
        <button class='btn btn-danger' (click)="onDelete(job.job, job.id)">Delete Job</button>
      </div>
    </div>
    <br>
  </div>
</div>


<div *ngIf='jobs.length == 0'>
    <h2> No jobs for this Search </h2>
</div>
