<h5 *ngFor="let prod of production; let i=index">
  <div class="grid3 short">
    <h5 class="middle">{{prod.shift}}</h5>
    <h5 class="short"><strong>{{prod.quantity}}</strong>
      <button *ngIf="!prod.average" (click)="changeAvg(prod.average, prod.id)" class='btn btn-success smaller'>
        <h6 class="in-button">Avg</h6>
      </button>
      <button *ngIf="prod.average" (click)="changeAvg(prod.average, prod.id)" class='btn btn-danger smaller'>
        <h6 class="in-button">Avg</h6>
      </button>
    </h5>
  </div>
</h5>