.grid { 
    display: grid;
    grid-template-columns: 14.285714286% 14.285714286% 14.285714286% 14.285714286% 14.285714286% 14.285714286% 14.285714286%;
}

.grid2 { 
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid100 { 
    display: grid;
    grid-template-columns: 100%;
}

.today-border{
    border-style: solid;
    border-color: black;
    background-color: rgb(255, 255, 175);
}

.white-text{
    color: rgb(235, 235, 235);
}

h5, h3, h2{
    text-align: center;
    font-style: Helvetica;
}

.padded{
    padding-left: 10px;
    padding-bottom: 50px;
}

.short{
    padding: 10% 0% 0% 0%;
    line-height: 0%;
}

.border-height{
    height: 325px
}