
<h2 class="bold">{{machine}}</h2>
<h3>Parts Made To Operation on This Machine: <br><strong>{{total}}</strong></h3>
<div class="grid2">
  <h3>Day Shift Average: <br><strong>{{dayAvg}}</strong></h3>
  <h3>Night Shift Average: <br><strong>{{nightAvg}}</strong></h3>
  <h3>Over Night Average: <br><strong>{{overNightAvg}}</strong></h3>
</div>
<div class="grid">
  <div class="border"><h5 class="bold">{{days[0]}}</h5></div>
  <div class="border"><h5 class="bold">{{days[1]}}</h5></div>
  <div class="border"><h5 class="bold">{{days[2]}}</h5></div>
  <div class="border"><h5 class="bold">{{days[3]}}</h5></div>
  <div class="border"><h5 class="bold">{{days[4]}}</h5></div>
  <div class="border"><h5 class="bold">{{days[5]}}</h5></div>
  <div class="border"><h5 class="bold">{{days[6]}}</h5></div>
  <div *ngFor="let date of firstDayOfMonth">
    <div class="border grid3"><h5 class="white-text"><h5><br><br></h5><h5><br><br></h5><h5><br><br></h5></h5></div>
  </div>  
  <div *ngFor="let set of proDates">
    <div *ngIf="set.date !== today"  (click)="onViewDate(['day', year, month+1, set.date])" class="border">
      <h5 class="bold">{{set.date}}</h5>
      <div class="grid3">
        <h5 *ngFor="let prod of set.production; let i=index">
          {{prod.shift}}: <br><strong>{{prod.quantity}}</strong> {{prod.average}}
          <button *ngIf="!prod.average" class='btn btn-success'>
            <h6>Avg</h6>
          </button>
          <button *ngIf="prod.average" class='btn btn-warning'>
            <h6>Avg</h6>
          </button>
        </h5>
        <h5 *ngIf="set.production.length < 1"><br><br></h5>
        <h5 *ngIf="set.production.length < 3"><br><br></h5>
        <h5 *ngIf="set.production.length <= 3"><br><br><br></h5>
      </div>
    </div>
    <div *ngIf="set.date == today" (click)="onViewDate(['day', year, month+1, set.date])" class="today-border">
      <h5 class="bold">{{set.date}}</h5>
      <div class="grid3">
        <h5 *ngFor="let prod of set.production; let i=index">{{prod.shift}}: <br><strong>{{prod.quantity}}</strong></h5>
        <h5 *ngIf="set.production.length < 1"><br><br></h5>
        <h5 *ngIf="set.production.length < 3"><br><br></h5>
        <h5 *ngIf="set.production.length <= 3"><br><br><br></h5>
      </div>
    </div>
  </div>  
</div>