<div *ngIf='oneOperation'>
    <ul class='list-group'>
        <li class=list-group-item>
          <h3>Operation #: {{oneOperation.opNumber}}</h3>
          <h4 *ngIf="oneOperation.jobNumber">Current Job: {{oneOperation.jobNumber}}</h4>
          <h4 *ngIf="oneOperation.machine">Machine: {{oneOperation.machine}}</h4>
          <h4 *ngIf="oneOperation.cycleTime">Cycle Time: {{oneOperation.cycleTime}}</h4>
          <h4 *ngIf="oneOperation.remainingQuantity">Remaining Quantity: {{oneOperation.remainingQuantity}}</h4>
          <h4 *ngIf="oneOperation.cycleTime"> Remaining Machine Hours: {{((oneOperation.remainingQuantity*oneOperation.cycleTime)/3600).toFixed(2)}}</h4> <br><br>
          <br><br>
          <div class="grid">
            <button class='btn btn-primary' routerLink="../edit/{{oneOperation.id}}">Edit Operation</button>
            <button class='btn btn-danger' (click)="onDelete(oneOperation.oneOperation, oneOperation.id)">Delete Operation</button>
          </div>
        </li>
    </ul>
</div>
<div *ngIf='operations.length > 1'>
  <div *ngFor="let operation of operations; let i=index"> 
    <div routerLink="../{{operation.id}}" class="border">
      <h3>Operation #: {{operation.opNumber}}</h3>
      <h4 *ngIf="operation.jobNumber">Current Job: {{operation.jobNumber}}</h4>
      <h4 *ngIf="operation.machine">Machine: {{operation.machine}}</h4>
      <h4 *ngIf="operation.cycleTime">Cycle Time: {{operation.cycleTime}}</h4>
      <h4 *ngIf="operation.remainingQuantity">Remaining Quantity: {{operation.remainingQuantity}}</h4>
      <h4 *ngIf="operation.cycleTime"> Remaining Machine Hours: {{((operation.remainingQuantity*operation.cycleTime)/3600).toFixed(2)}}</h4> <br><br>
      <br><br>
      <div class="grid">
        <button class='btn btn-primary' routerLink="../edit/{{operation.id}}">Edit Operation</button>
        <button class='btn btn-danger' (click)="onDelete(operation.operation, operation.id)">Delete Operation</button>
      </div>
    </div>
    <br>
  </div>
</div>


<div *ngIf='operations.length == 0 && !oneOperation'>
    <h2> No operations for this Search </h2>
</div>
