<div *ngIf="jobInUse && !mach" class="grid25">
    <h6 class="border-inner-left"><br><strong>{{jobInUse.jobNumber}}</strong></h6>
    <h6 class="border-inner-left" *ngIf="jobInUse.orderQuantity"><br><strong>{{jobInUse.orderQuantity}}</strong></h6>
    <h6 class="border-inner-left" *ngIf="!jobInUse.orderQuantity"><br><strong>Unknown</strong></h6>
    <h6 class="border-inner-left" *ngIf="jobInUse.remainingQuantity"><br><strong>{{jobInUse.remainingQuantity}}</strong></h6>
    <h6 class="border-inner-left" *ngIf="!jobInUse.remainingQuantity"><br><strong>Unknown</strong></h6>
    <h6 class="border-inner-right"><br><strong>{{jobInUse.deliveryDate}}</strong></h6>
</div>
<div *ngIf="jobInUse && mach" class="grid20">
    <h6 class="small border-inner-left"><br><strong>{{mach.machine}}</strong></h6>
    <h6 class="small border-inner-left"><br><strong>{{jobInUse.jobNumber}}</strong></h6>
    <h6 class="small border-inner-left" *ngIf="jobInUse.orderQuantity"><br><strong>{{jobInUse.orderQuantity}}</strong></h6>
    <h6 class="small border-inner-left" *ngIf="!jobInUse.orderQuantity"><br><strong>Unknown</strong></h6>
    <h6 class="small border-inner-left" *ngIf="jobInUse.remainingQuantity"><br><strong>{{jobInUse.remainingQuantity}}</strong></h6>
    <h6 class="small border-inner-left" *ngIf="!jobInUse.remainingQuantity"><br><strong>Unknown</strong></h6>
    <h6 class="small border-inner-right"><br><strong>{{jobInUse.deliveryDate}}</strong></h6>
</div>