<div *ngIf="!canInput">
  <h1>You must be logged in to edit a part lot!</h1>
</div>
<form *ngIf="canInput && editPartForm" [formGroup]="editPartForm" (ngSubmit)='onSubmit()' >
  <div class="form-group">
    <label for="partNumber">Part</label>
    <input 
      formControlName='partNumber'
      id="partNumber" 
      class="form-control"
    >
  </div>
  <br><br>
  <div class="grid">
    <button 
      class="btn btn-success" 
      type="submit"
      [disabled]="!editPartForm.valid"
    >
      Update Part
    </button>
    <div></div>
    <button 
      type='button' 
      class="btn btn-danger" 
      (click)='onDelete()'
    >
      Delete
    </button>
    <div></div>
    <button 
      type='button' 
      class='btn btn-danger pull-right' 
      (click)='onCancel()'
    >
      Cancel
    </button>
  </div>