button{
    white-space: normal;
    word-wrap: break-word;
    height: 100%;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.5;
}

.border{
    border-style: solid;
    border-color: black;
    background-color: rgb(235, 235, 235);
}

.bold{
    font-weight: 700;
}

.centered{
    text-align: center;
}

.error{
    background: red;
    text-emphasis: 600;
    text-align: center;
    color: white;
    border-style: solid;
    border-color: black;
    height: 600;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    h2{
        word-wrap: break-word;
    }
}