<br>
<h2 class="centered" *ngIf="!complete">Lets Get Started!</h2>
<h2 class="centered" *ngIf="complete">Congratulations!</h2>
<br>
<h4 *ngIf="!lathes" class="centered">
  Start by adding your first <a routerLink="/lathe/machine/new">Lathe</a>. It's not 
  going to give you any options for the job or op field, but that is perfectly 
  normal, it can be added with only a name. 
  <br>
</h4>
<h4 *ngIf="!lathes" class="centered">
  You will also need to have at least 1 <a routerLink="/lathe/parts/new">Lathe Part</a> to be able to add a 
  <a routerLink="/lathe/jobs/new">Lathe Job</a>, with a <a routerLink="/lathe/jobs">Lathe Operation</a>.
  <br>
</h4>
<h4 *ngIf="lathes && !latheParts" class="centered">
  Now that you have added a machine, lets add your first part! 
  A <a routerLink="/lathe/parts/new">Part</a> needs to have a "part number", and a revision level. 
  Parts cannot be changed once they are created, they can only be deleted and re-input, 
  or added again with a different revision level. This is intentional to maintain consistancy of 
  which revision of a part was made in a specific job, to collect accurate production information.
  The same <a routerLink="/lathe/parts/new">Lathe Part</a> can be used on an unlimited number of jobs.
  <br>
  You will need to have at least 1 <a routerLink="/lathe/parts/new">Part</a> to be able to add a 
  <a routerLink="/lathe/jobs/new">Lathe Job</a>
  <br>
</h4>
<h4  *ngIf="latheParts && !latheJobs" class="centered">
  Now that you have created your first part, we can add our first <a routerLink="/lathe/jobs/new">Lathe Job</a>. 
  <br>
  A lathe job can hold information for the size of a part and material recieved for the job, so that maximum yield
  can be calculated. 
  <br>
</h4>
<h4  *ngIf="latheJobs && !latheOps" class="centered">
  Now that you have created your first job, you will be able to use the production
  calculator features for that job. 
  <br>
  Now lets add an <a routerLink="/lathe/jobs">Lathe Operation</a> to the job below by clicking the "Add New Operation" button. 
  <br>
  Once you have a job and operation, you can assign them to your machine which 
  will allow you to create production lots, and input hourly production. 
  <br>
</h4>
<h4  *ngIf="latheOps && !hourly" class="centered">
  Now that you have created your first job and operation, you can assign a job and operation to your lathe.
  <br>
  After your lathe can a current job and op, you will be able to create production lots,
  and hourly production inputs.
  <br>
  From the <a routerLink="/lathe/machine">Lathes</a> page, or the <a routerLink="/hourly">Hourly Tracking</a> page
  you will be able to asign a job and op to your lathe if you have not already done so. 
  <br>
  Once a job is assigned, you can add an hourly production count by clicking on 
  "<strong>Quick Input</strong>." from the <a routerLink="/hourly">Hourly Tracking</a> page.
  <br>
</h4>
<h4 *ngIf="hourly && !latheProduction" class="centered">
  Now that we have our first hourly production count, lets try adding a 
  <a routerLink="/lathe/production/">Lathe Production Lot</a>. Your production lots will be used to track 
  how many parts have been made to an operation on the job so far. 
  <br>
  The production lot will be attributed to the current job and op of the selected machine on the production 
  creation form.
  <br>
  Click "Update" below to open up the forms to input production for the past week, or use the add button on the day
  and shift you wish to add production to.
  <br>
</h4>
<h4 *ngIf="latheProduction && !latheProductionMulti" class="centered">
  Now try adding a second <a routerLink="/lathe/production/new">Lathe Production Lots</a> for one job. 
  once you have more than one lot for the same job and op, you will be able to view all lots for the operation,
  as well as a total to date for the operation. 
  <br>
</h4>
<h4 *ngIf="latheProductionMulti && checking != 'mill'" class="centered">
  Now that you have multiple lots for the operation, the 
  <a routerLink="/lathe/production">Lathe Production Page</a>  will show you information
  like the total parts made to the operation, how many were produced on that machine
  averages for each shift, and the average production in a full day.
  <br>
</h4>
<h4 *ngIf="latheProductionMulti && !auth.skipMill && checking != 'mill'" class="centered">
  When you're ready to start the mill tutorial, click <a (click)="changeToMill()">Here</a>.
  <br>
</h4>
<h4 *ngIf="checking == 'mill' && !mills" class="centered">
  Start by adding your first <a routerLink="/mill/machine/new">Mill</a>
  Unlike lathes, a mill only has a name(no current job/op). 
  <br>
  This is because most mills can run more than one part/operation at a time.
  <br>
</h4>
<h4 *ngIf="checking == 'mill' && !mills" class="centered">
  You will also need to have at least 1 <a routerLink="/mill/parts/new">Mill Part</a> to be able to add a 
  <a routerLink="/mill/jobs/new">Mill Job</a>, with a <a routerLink="/mill/jobs">Mill Operation</a>.
  <br>
</h4>
<h4 *ngIf="mills && !millParts" class="centered">
  Now that you have added a machine, lets add your first part! 
  A <a routerLink="/mill/parts/new">Mill Part</a> needs to have a "part number", and a revision level. 
  Parts cannot be changed once they are created, they can only be deleted and re-input, 
  or added again with a different revision level. 
  <br>
  This is intentional to maintain consistancy of which revision of a part was made in a 
  specific job, to collect accurate production information, however, the same 
  <a routerLink="/mill/parts/new">Mill Part</a> can be used on an unlimited number of jobs.
  <br>
  You will need to have at least 1 <a routerLink="/mill/parts/new">Part</a> to be able to add a 
  <a routerLink="/mill/jobs/new">Mill Job</a>
  <br>
</h4>
<h4  *ngIf="millParts && !millJobs" class="centered">
  Now that you have created your first part, we can add our first <a routerLink="/mill/jobs/new">Mill Job</a>. 
  <br>
  A mill job number will be used to identify parts that are counted for production. The order quantity
  will give a basis for how many more parts need to be made for the job after the parts counted to date.
  <br>
</h4>
<h4  *ngIf="millJobs && !millOps" class="centered">
  Now that you have created your first job the next step is to add a <a routerLink="/mill/jobs">Mill Operation</a> 
  to that job by clicking the 
  <br>
  "Add New Operation" button from the <a routerLink="/mill/jobs">Mill Jobs</a> page. 
  <br>
  The cycle time will be used to track how 
  much machine time is remaining on the job.
  <br>
  Once you have a job and operation, you can input production counts for the parts.
  <br>
</h4>
<h4 *ngIf="millOps && !millProduction" class="centered">
  Now that you have created your first job and operation, lets try adding a 
  <a routerLink="/mill/production">Mill Production Count</a>. Your production counts 
  will be used to track how many parts have been made to an operation on the job so far. 
  <br>
  <br>
</h4>
<h4 *ngIf="complete" class="centered">
  You have successfully completed the My Production Manager tutorial!
  <h4>
    If you have any other questions about using the app to its fullest, feel free to reach 
    out to me personally via email at: 
  </h4>
  <h4 class="bold">
    DTripodi93@gmail.com
  </h4>
</h4>
<br>
<div class="center-grid">
  <button  
    *ngIf="!latheProductionMulti && !auth.skipLathe"
    (click)="switchLathe()"
    class="btn btn-danger">
    <strong>Skip Lathe Tutorials</strong>
  </button>
  <div *ngIf="auth.skipLathe"></div>
  <div *ngIf="latheProduction && !auth.skipLathe"></div>
  <button 
    (click)="notNew()"
    class="btn btn-warning">
    <strong>Hide Tutorial Messages</strong>
  </button>
  <button  
    *ngIf="latheProduction && !millProduction && !auth.skipMill"
    (click)="switchMill()"
    class="btn btn-danger">
    <strong>Skip Mill Tutorials</strong>
  </button>
  <div *ngIf="auth.skipMill"></div>
  <div *ngIf="!latheProduction && auth.skipMill"></div>
</div>