.grid { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid2 { 
    display: grid;
    grid-template-columns: 100%;
}

.border{
    border: solid;
}

.set-width{
    width: 233.3px;
    margin-left: auto;
    margin-right: auto;
}

.white-text{
    color: white;
}


h3{
    text-align: center;
    text-decoration: underline;
}

h4{
    text-align: center;
}