<h5>
  Op #:
  <strong>
    {{op.opNumber}}
  </strong>
</h5>
<h5>Parts To Date:</h5>
<div *ngIf="!editMode">
  <div *ngIf="op.partsToDate">
    <h5 class="bold">{{op.partsToDate}}</h5>
  </div>
  <div *ngIf="!op.partsToDate">
    <h5 class="bold">0</h5>
  </div>
</div>
<div *ngIf="editMode">
  <app-production-total partsToDate="{{op.partsToDate}}" opNumber="{{op.opNumber}}" jobNumber="{{jobNumber}}"></app-production-total>
</div>
<div *ngIf="op.remainingQuantity && op.cycleTime">
  <h6 class="bold">{{hours}} {{hourFormat}}<br>{{minutes}} {{minFormat}}<br>Remaining</h6>
</div>
<div class="grid">
  <button *ngIf="!editMode" class="btn btn-primary" (click)="changeEdit()">
    <h6 class="short">Update</h6>
  </button>
</div>