<div *ngIf="!canInput">
  <h1>You must be logged in to add a job lot!</h1>
  </div>
    <form *ngIf="canInput && jobForm" [formGroup]="jobForm" (ngSubmit)='onSubmit()' >
      <div class="form-group">
        <label for="job">Job#</label>
        <input 
          formControlName='job'
          id="job" 
          class="form-control"
        >
      </div>
      <div class="form-group">
        <label for="part">Part#</label>
        <input 
          formControlName='part'
          type="text" 
          id="part" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="orderQuantity">Order Quantity (Optional)</label>
        <input 
          formControlName='orderQuantity'
          type="number" 
          id="orderQuantity" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="weightRecieved">Weight Recieved (Optional)</label>
        <input 
          formControlName='weightRecieved'
          type="number" 
          id="weightRecieved" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="oal">Overall Length of Job (Optional)</label>
        <input 
          formControlName='oal'
          type="number" 
          id="oal" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="cutOff">Cut Off Size (Optional)</label>
        <input 
          formControlName='cutOff'
          type="number" 
          id="cutOff" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="mainFacing">Amount Faced on Main Spindle (Optional)</label>
        <input 
          formControlName='mainFacing'
          type="number" 
          id="mainFacing" 
          class="form-control">
      </div>
      <div class="form-group">
        <label for="subFacing">Amount Faced on Sub Spindle (Optional)</label>
        <input 
          formControlName='subFacing'
          type="number" 
          id="subFacing" 
          class="form-control">
      </div>
      <br><br>
      <div class='grid'>
        <button 
          class="btn btn-success" 
          type="submit"
          [disabled]="!jobForm.valid"
        >
          Add Job
        </button>
        <button 
          type='button' 
          class='btn btn-danger pull-right' 
          (click)='onCancel()'
        >
          Cancel
        </button>
        <br><br>
        <button 
          class="btn btn-success" 
          type="button"
          [disabled]="!jobForm.valid"
          (click)='onAddThenCalcByLength()'
        >
          Add Job and Calculate Production by Length
        </button>
        <br><br>
        <button 
          class="btn btn-success" 
          type="button"
          [disabled]="!jobForm.valid"
          (click)='onAddThenCalcByWeight()'
        >
          Add Job and Calculate Production by Weight
        </button>
      </div>
      <br><br>
      <div *ngIf="isError">
        <h3 class="danger">{{error}}</h3>
      </div>