h4 {
    text-align: center;
}
li {
    margin: 10px 10px 10px 10px;
    border: solid;
    border-color: blue;
}
.grid { 
    display: grid;
    grid-template-columns: 50% 50%;
}

.inQuestion{
    border: solid;
    border-color: red;
}