<li class="list-group-item" *ngFor="let lot of hourly; let i = index" >
    <div *ngIf="!editMulti[i]">
        <h5>Time: <br><strong>{{lot.time}}</strong><br>
        Quantity: <br><strong>{{lot.quantity}}</strong>
        <div *ngIf="lot.counterQuantity">Counter: <br><strong>{{lot.counterQuantity}}</strong></div>
        <div *ngIf="lot.startTime">Run Time: <br><strong>{{runTimes[i]}}</strong></div>
        <div *ngIf="lot.startTime && cycleTime">Up Time: <br><strong>{{((lot.quantity/alwaysUp[i])*100).toFixed(2)}}%</strong></div></h5>
        <div class="grid">
            <button class='btn btn-primary' (click)="onEdit(i)">Edit</button>
            <button class='btn btn-danger' (click)="onDelete(lot.id)">Delete</button>
        </div>
    </div>
    <div *ngIf="editMulti[i]">
        <app-hourly-new-short [lot]="lot" [startTime]="startTime"></app-hourly-new-short>
    </div>
</li>
