.grid-outer { 
    display: grid;
    grid-template-columns: 25% 75%;
}

.grid-inner { 
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.size90{
    margin: auto;
    width: 90%;
}

h3, h5, h5, h6{
    text-align: center;
}

h4{
    line-height: 10%;
}

.grid2 { 
    display: grid;
    grid-template-columns: 100%;
}