.grid { 
    display: grid;
    grid-template-columns: 50% 50%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.border {
    border: solid;
}

h4 {
    text-align: center;
}

h6 {
    font-weight: 400;
    text-align: center;
    line-height: 75%;
}