.grid { 
    display: grid;
    grid-template-columns: 50% 50%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.border {
    border: solid;
}

h4 {
    text-align: center;
}

h6 {
    font-weight: 400;
    text-align: center;
    line-height: 75%;
}

.grid2 { 
    display: grid;
    grid-template-columns: 100%;
}

.mobile {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 900px) {
    .separator {
        display: none;
        visibility: hidden;
    }

    .mobile { 
        visibility: visible;
        display: initial;
    }
}