<div class='grid' >
  <div *ngFor="let operation of operations"> 
    <div class="border">
      <div class="grid2">
        <button *ngIf="!operation.possibleQuantity" class='btn btn-primary' routerLink="calculator/job/{{operation.id}}">Length Calc</button>
        <button *ngIf="operation.possibleQuantity" class='btn btn-info' routerLink="calculator/{{operation.id}}">Remaining Bars</button>
        <button *ngIf="!operation.weightQuantity" class='btn btn-success' routerLink="calculator/weight/{{operation.id}}">Weight Calc</button>
      </div>
      <div routerLink="operation={{operation.operation}}">
        <br>
        <h3>{{operation.operation}}</h3>
        <h4>Current Job: <br> {{operation.job}}</h4>
        <h4>Current Machine: <br> {{operation.machine}}</h4>
        <h4 *ngIf="operation.cycleTime">Cycle Time: {{operation.cycleTime}}</h4>
        <h4 *ngIf="!operation.possibleQuantity && !operation.weightQuantity && operation.orderQuantity">Possible Quantity: {{operation.orderQuantity}}
        <h4 *ngIf="operation.cycleTime"> Total Machine Hours: {{((operation.orderQuantity*operation.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="!operation.possibleQuantity && operation.weightQuantity">Possible Quantity: {{operation.weightQuantity}}
        <h4 *ngIf="operation.cycleTime"> Total Machine Hours: {{((operation.weightQuantity*operation.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="operation.possibleQuantity">Possible Quantity: {{operation.possibleQuantity}}
        <h4 *ngIf="operation.cycleTime"> Total Machine Hours: {{((operation.possibleQuantity*operation.cycleTime)/3600).toFixed(2)}}</h4>
        </h4>
        <h4 *ngIf="operation.remainingQuantity">Remaining Quantity: {{operation.remainingQuantity}}
        <h4 *ngIf="operation.cycleTime"> Remaining Machine Hours: {{((operation.remainingQuantity*operation.cycleTime)/3600).toFixed(2)}}</h4>
        </h4> <br><br>
      </div>
      <div class="grid2">
          <button class='btn btn-primary' routerLink="edit/{{operation.id}}">Edit Operation</button>
          <button class='btn btn-danger' (click)="onDelete(operation.operation, operation.id)">Delete Operation</button>
      </div>
    </div>
    <br>
  </div>
</div>